---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<h2 class="font-medium text-xl mb-[0.25px]">
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/hmds">Home</HeaderLink>
		<HeaderLink href="/hmds/blog">Blog</HeaderLink>
		<HeaderLink href="/hmds/about">About</HeaderLink>
		<HeaderLink href="https://github.com/kaogeek/hack-th" target="_blank">
			GitHub
		</HeaderLink>
	</nav>
</header>
<style>
	header {
		@apply pb-2 mb-4 border-b-[1.5px];
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
